
md-dialog(aria-label='help' ng-cloak)
  form
    md-toolbar
      .md-toolbar-tools
        h2 帮助
        span.flex
        md-button.md-icon-button(ng-click='close()' style='float:right;')
          md-icon(md-svg-icon='/static/assets/{{ icon }}' aria-label='close')
    md-dialog-content(style='max-width:800px;max-height:810px;')
      .md-content
        pre(ng-repeat='item in data') {{ item }}
    .md-actions(layout='row')
      md-button(ng-click='close()' aria-label='close') Close
