
#container
  header(ng-controller='HeaderController as header' ng-cloak)
    searchbox(sb-data='header.data' sb-search='header.search()')

  main
    #search-results
      include partial_web
      #load-more(ng-show='main.showMoreCard' ng-cloak)
        md-content
          md-card
            md-card-content
              div(layout='row' layout-align="space-around center")
                md-button.md-primary(ng-click='main.goNext()' ng-show='main.showMoreButton') more...
                p(ng-show='main.showNoMore') {{ main.noMoreMessage }}
      #progress-circular(ng-show='main.progressMode' ng-cloak)
        div(layout='row' layout-align="space-around center")
          md-progress-circular.md-hue-2(md-mode='{{ main.progressMode }}' md-diameter='30px')

footer(ng-controller="FooterController as footer" ng-cloak)
  .help-notes
    md-content(layout='row', layout-align='center center')
      md-button.md-primary(ng-click='footer.help($event)') help
