
#searchbox
  #sb-form-container
    form.sb-form(action='/', method='get')
      .sb-content-a
        .sb-content-b
          .sb-content-c
            .sb-content-d
              .sb-content-e
                .sb-content-f
                  .sb-content-g
                    .sb-content-h
                      input.sb-content-input(type='search' name='q' placeholder='{{ data.placeholder }}' ng-model='data.input')
              .sb-button-a
                .sb-button-b
                  .sb-button-c
                    .sb-button-d
                      button.sb-button-btn(type='submit')
                        span.sb-button-ico

